<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Stock analysis</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bitcoin and Index
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chart">
                <span class="bi bi-plus-nested-nav-menu" aria-hidden="true"></span> Revenue by Quarter
            </NavLink>
        </div>
    </nav>
</div>

